.Funcbutton
{
	font-size:35px;
	text-decoration:none;
    

    color:#232424;
    font-weight: 600;
 
    transition: 0.5s;

    display:inline-block;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:20%;
    margin-right:20%;
    padding:0.5%;
   

}

.Funcbutton:hover
{
    color:#080808;
    font-size:50px;
    transition: 0.5s;
    font-weight: 600;
}

.title
{
    font-size:50px;
    font-weight: lighter;
}




